* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.container {
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(225, 100%, 94%);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 31.25vw;
  min-height: 80%;
  background-color: hsl(225, 100%, 98%);
  border-radius: 16px;
  overflow: hidden;
}

.cardImage {
  height: 220px;
  background-image: url(../images/illustration-hero.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.card h2 {
  margin: 5.555556vh 0px 3.55vh;
  font-weight: 900;
  font-size: 25px;
  color: hsl(223, 47%, 23%);
}
.card p {
  margin: 0 auto;
  color: hsl(224, 23%, 55%);
  width: 80%;
  line-height: 1.4em;
}

.card .priceCard {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 20px;
  border-radius: 12px;
  margin: 2.7777vh auto;
  background-color: hsl(225, 100%, 94%, 0.4);
}

.priceCardContent {
  width: 60%;
  margin-left: 15px;
}

.priceCardContent h3,
.priceCardContent p {
  text-align: left;
  width: 100%;
}

.payButton {
  width: 80%;
  display: block;
  padding: 15px;
  margin: 25px auto;
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 12px;
  box-shadow:0px 2px 20px 0px hsl(245, 75%, 52% , 0.5);
  -webkit-box-shadow: 0px 2px 20px 0px hsl(245, 75%, 52% ,0.5);
  -moz-box-shadow: 0px 2px 20px 0px hsl(245, 75%, 52% ,0.5);
}

.cancelButton {
  display: block;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .container {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  .card {
    width: 85%;
  }

  .card p,
  .card .priceCard,
  .payButton {
    width: 85%;
  }

  .cardImage {
    height: 160px;
  }

  .priceCardContent h3 {
    font-size: 0.95em;
  }

  .priceCardContent p {
    width: 100%;
  }
}
